<div class="content">
  <h1>Structure du framework :</h1>
  <section>
    <article>
      <h2># Structure générale :</h2>
      <img src="assets/img/structureProjet.png" alt="">
    </article>
    <hr>
    <article>
      <h2># Structure du dossier 'src' :</h2>
      <p>le dossier 'src' sera celui dans lequel la grande partie du travail se réalisera (hors test et mise en prod)
      </p>
      <img src="assets/img/structureSrc.png" alt="capture src">
      <p>Nous y retrouvons 'index.html' et la balise permettant l'intégration du component 'app.component.ts' :</p>
      <em>&lt;app-root&gt;&lt;/app-root&gt;</em><br><br>
      <img src="assets/img/index.html.png" alt="capture index.html">
      <br>
      <p>ainsi qu'e'un fichier 'style.css' qui permettra de généraliser du css à tous les components si voulu <br>
        (sinon, pour appliquer du css à un component en particulier, écrire le css dans le fichier .css associé au
        component)</p>
      <img src="assets/img/style.css.png" alt="capture style.css">
    </article>
    <hr>
    <article>
      <h2># Structure du dossier 'app' :</h2>
      <p>C'est dans ce dossier que nous retrouverons tous nos composants, modules, services, interfaces, etc. :</p>
      <br>
      <img src="assets/img/structureApp.png" alt="capture app">
    </article>
    <hr>
  </section>
</div>